{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h3 class="text-center">Glossary</h3>
    <p class="text-center header-sub-text">A list of mortgage terms and definitions</p>

    <div class="glossary-text">
        <p class="letter">A</p>
        <div class="line-letter">
        </div>

        <p class="term">abstract of title</p>
        <p class="definition">A historical summary provided by a title insurance company of all records affecting the title to a property.</p>
        <p class="term">acceleration clause</p>
        <p class="definition">Allows a lender to declare the entire outstanding balance of a loan immediately due and payable should a borrower violate specific loan provisions or default on the loan.</p>
        <p class="term">adjustable rate mortgage (ARM)</p>
        <p class="definition">A variable or flexible rate mortgage with an interest rate that varies according to the financial index it is based upon. To limit the borrower's risk, the ARM may have a payment or rate cap. See also: cap.</p>
        <p class="term">amenities</p>
        <p class="definition">Features of your home that fit your preferences and can increase the value of your property. Some examples include the number of bedrooms, bathrooms, or vicinity to public transportation.</p>
        <p class="term">amortization</p>
        <p class="definition">The liquidation of a debt by regular, usually monthly, installments of principal and interest. An amortization schedule is a table showing the payment amount, interest, principal and unpaid balance for the entire term of the loan.</p>
        <p class="term">annual cap</p>
        <p class="definition">See: cap.</p>
        <p class="term">annual percentage rate (A.P.R.)</p>
        <p class="definition">The actual interest rate, taking into account points and other finance charges, for the projected life of a mortgage. Disclosure of APR is required by the Truth-in-Lending Law and allows borrowers to compare the actual costs of different mortgage loans.</p>
        <p class="term">appraisal</p>
        <p class="definition">An estimate of a property's value as of a given date, determined by a qualified professional appraiser. The value may be based on replacement cost, the sales of comparable properties or the property's ability to produce income.</p>
        <p class="term">appreciation</p>
        <p class="definition">A property's increase in value due to inflation or economic factors.</p>
        <p class="term">A.P.R.</p>
        <p class="definition">See: annual percentage rate.</p>
        <p class="term">ARM</p>
        <p class="definition">See: adjustable rate mortgage.</p>
        <p class="term">assessment</p>
        <p class="definition">Charges levied against a property for tax purposes or to pay for municipality or association improvements such as curbs, sewers, or grounds maintenance.</p>
        <p class="term">assignment</p>
        <p class="definition">The transfer of a contract or a right to buy property at given rates and terms from a mortgagee to another person.</p>
        <p class="term">assumption</p>
        <p class="definition">An agreement between a buyer and a seller, requiring lender approval, where the buyer takes over the payments for a mortgage and accepts the liability. Assuming a loan can be advantageous for a buyer because there are no closing costs and the loan's interest rate may be lower than current market rates. Depending on what is in the mortgage or deed of trust, the lender may raise the interest rate, require the buyer to qualify for the mortgage, or not permit the buyer to assume the loan at all.</p>

        <p class="letter">B</P>
        <div class="line-letter">
        </div>

        <p class="term">balloon mortgage</p>
        <p class="definition">Mortgage with a final lump sum payment that is greater than preceding payments and pays the loan in full.</p>
        <p class="term">biweekly mortgage</p>
        <p class="definition">A loan requiring payments of principal and interest at two-week intervals. This type of loan amortizes much faster than monthly payment loans. The payment for a biweekly mortgage is half what a monthly payment would be.</p>
        <p class="term">bond</p>
        <p class="definition">A certificate serving as security for payment of a debt. Bonds backed by mortgage loans are pooled together and sold in the secondary market.</p>
        <p class="term">bridge loan</p>
        <p class="definition">A loan to "bridge" the gap between the termination of one mortgage and the beginning of another, such as when a borrower purchases a new home before receiving cash proceeds from the sale of a prior home. Also known as a swing loan.</p>
        <p class="term">broker</p>
        <p class="definition">An intermediary between the borrower and the lender. The broker may represent several lending sources and charges a fee or commission for services.</p>
        <p class="term">buy-down</p>
        <p class="definition">Where the buyer pays additional discount points or makes a substantial down payment in return for a below market interest rate; or the seller offers 3-2-1 interest payment plans or pays closing costs such as the origination fee. During times of high interest rates, buy-downs may induce buyers to purchase property they may not otherwise have purchased.</p>

        <p class="letter">C</p>
        <div class="line-letter">
        </div>

        <p class="term">cap</p>
        <p class="definition">A limit in how much an adjustable rate mortgage's monthly payment or interest rate can increase. A cap is meant to protect the borrower from large increases and may be a payment cap, an interest cap, a life-of-loan cap or an annual cap.</p>
        <p class="term">A payment cap is a limit on the monthly payment.</p>
        <p class="definition">An interest cap is a limit on the amount of the interest rate.</p>
        <p class="definition">A life-of-loan cap restricts the amount the interest rate can increase over the entire term of the loan.
        <p class="definition">An annual cap limits the amount the interest rate can increase over a twelve-month period.</p>
        <p class="term">certificate of reasonable value (CRV)</p>
        <p class="definition">A Veteran's Administration appraisal that establishes the maximum VA mortgage loan amount for a specified property.</p>
        <p class="term">certificate of title</p>
        <p class="definition">Document rendering an opinion on the status of a property's title based on public records.</p>
        <p class="term">closed-end mortgage</p>
        <p class="definition">A mortgage principal amount that is fixed and cannot be increased during the life of the loan. See also: open-end mortgage.</p>
        <p class="term">closing costs</p>
        <p class="definition">Costs payable by both seller and buyer at the time of settlement, when the purchase of a property is finalized. These costs can be up to ten percent of the mortgage amount and usually include but are not limited to the following:</p>
        <p class="term">cloud</p>
        <p class="definition">A claim to the title of a property that, if valid, would prevent a purchaser from obtaining a clear title.</p>
        <p class="term">collateral</p>
        <p class="definition">Something of value pledged as security for a loan. In mortgage lending, the property itself serves as collateral for a mortgage loan.</p>
        <p class="term">commitment fee</p>
        <p class="definition">A fee charged when an agreement is reached between a lender and a borrower for a loan at a specific rate and points and the lender guarantees to lock in that rate.</p>
        <p class="term">co-mortgagor</p>
        <p class="definition">One who is individually and jointly obligated to repay a mortgage loan and shares ownership of the property with one or more borrowers. See also: co-signer.</p>
        <p class="term">condominium</p>
        <p class="definition">An individually owned unit within a multi-unit building where others or the Condominium Owners Association share ownership of common areas such as the grounds, the parking facilities and the tennis courts.</p>
        <p class="term">conforming loan</p>
        <p class="definition">A loan that conforms to Federal National Mortgage Association (FNMA) or Federal Home Loan Mortgage Corporation (FHLMC) guidelines. See also: non-conforming loan.</p>
        <p class="term">construction loan</p>
        <p class="definition">A short-term loan financing improvements to real estate, such as the building of a new home. The lender advances funds to the borrower as needed while construction progresses. Upon completion of the construction, the borrower must obtain permanent financing or pay the construction loan in full.</p>
        <p class="term">consumer handbook on adjustable rate mortgages (C.H.A.R.M.)</p>
        <p class="definition">A disclosure required by the federal government to be given to any borrower applying for an adjustable rate mortgage (ARM).</p>
        <p class="term">conventional loan</p>
        <p class="definition">A mortgage loan that is not insured, guaranteed or funded by the Veterans Administration (VA), the Federal Housing Administration (FHA) or Rural Economic Community Development (RECD) (formerly Farmers Home Administration).</p>
        <p class="term">convertible mortgage</p>
        <p class="definition">An adjustable rate mortgage (ARM) that allows a borrower to switch to a fixed-rate mortgage at a specified point in the loan term.</p>
        <p class="term">co-signer</p>
        <p class="definition">One who is obligated to repay a mortgage loan should the borrower default but who does not share ownership in the property. See also: co-mortgagor.</p>
        <p class="term">covenants</p>
        <p class="definition">Rules and restrictions governing the use of property.</p>
        <p class="term">CRV</p>
        <p class="definition">See: certificate of reasonable value.</p>
        <p class="term">curtailments</p>
        <p class="definition">The borrower's privilege to make payments on a loan's principal before they are due. Paying off a mortgage before it is due may incur a penalty if so specified in the mortgage's prepayment clause.</p>

        <p class="letter">D</p>
        <div class="line-letter">
        </div>

        <p class="term">debt</p>
        <p class="definition">Money owed to repay someone.</p>
        <p class="term">debt-to-income ratio</p>
        <p class="definition">The ratio between a borrower's monthly payment obligations divided by his or her net effective income (FHA or VA loans) or gross monthly income (conventional loans).</p>
        <p class="term">deed of trust</p>
        <p class="definition">A document, used in many states in place of a mortgage, held by a trustee pending repayment of the loan. The advantage of a deed of trust is that the trustee does not have to go to court to proceed with foreclosure should the borrower default on the loan.</p>
        <p class="term">Department of Housing and Urban Development (HUD)</p>
        <p class="definition">The U.S. government agency that administers FHA, GNMA and other housing programs.</p>
        <p class="term">discount points</p>
        <p class="definition">Amounts paid to the lender based on the loan amount to buy the interest rate down. Each point is one percent of the loan amount; for example, two points on a $100,000 mortgage is $2,000.</p>
        <p class="term">down payment</p>
        <p class="definition">The difference between the purchase price and mortgage amount. The down payment becomes the property equity. Typically it should be cash savings, but it can also be a gift that is not to be repaid or a borrowed amount secured by assets.</p>
        <p class="term">due-on-sale</p>
        <p class="definition">A clause in a mortgage or deed of trust allowing a lender to require immediate payment of the balance of the loan if the property is sold (subject to the terms of the security instrument).</p>
        <p class="term">duplex</p>
        <p class="definition">Dwelling divided into two units.</p>

        <p class="leter">E</p>
        <div class="line-letter">
        </div>

        <p class="term">earnest money</p>
        <p class="definition">Deposit in the form of cash or a note, given to a seller by a buyer as good faith assurance that the buyer intends to go through with the purchase of a property.</p>
        <p class="term">easement</p>
        <p class="definition">The right one party has in regard to the property of another, such as the right of a public utility company to lay lines.</p>
        <p class="term">Equal Credit Opportunity Act</p>
        <p class="definition">A federal law prohibiting lenders and other creditors from discrimination based on race, color, sex, religion, national origin, age, marital status, receipt of public assistance or because an applicant has exercised his or her rights under the Consumer Credit Protection Act.</p>
        <p class="term">equity</p>
        <p class="definition">The value of a property beyond any liens against it. Also referred to as owner's interest.</p>
        <p class="term">escape clause</p>
        <p class="definition">A provision allowing one party or more to cancel all or part of the contract if certain events fail to happen, such as the ability of the buyer to obtain financing within a specified period.</p>
        <p class="term">escrow</p>
        <p class="definition">Money placed with a third party for safekeeping either for final closing on a property or for payment of taxes and insurance throughout the year.</p>

        <p class="letter">F</p>
        <div class="line-letter">
        </div>

        <p class="term">fair market value</p>
        <p class="definition">The price a property can realistically sell for, based upon comparable selling prices of other properties in the same area.</p>
        <p class="term">Fannie Mae</p>
        <p class="definition">Nickname for Federal National Mortgage Association (FNMA).</p>
        <p class="term">Federal Home Loan Mortgage Corporation (FHLMC or Freddie Mac)</p>
        <p class="definition">A quasi-governmental, federally-sponsored organization that acts as a secondary market. investor to buy and sell mortgage loans. FHLMC sets many of the guidelines for conventional mortgage loans, as does FNMA.</p>
        <p class="term">Federal Housing Administration (FHA)</p>
        <p class="definition">An agency within the Department of Housing and Urban Development that sets standards for underwriting and insures residential mortgage loans made by private lenders. One of FHA's objectives is to ensure affordable mortgages to those with low or moderate income. FHA loans may be high loan-to-value, and they are limited by loan amount. FHA mortgage insurance requires a fee of 1.5 percent of the loan amount to be paid at closing, as well as an annual fee of 0.5 percent of the loan amount added to each monthly payment.</p>
        <p class="term">Federal National Mortgage Association (FNMA or Fannie Mae)</p>
        <p class="definition">A private corporation that acts as a secondary market. investor to buy and sell mortgage loans. FNMA sets many of the guidelines for conventional mortgage loans, as does FHLMC. The major purpose of this organization is to make mortgage money more affordable and more available.</p>
        <p class="term">fee simple</p>
        <p class="definition">The maximum form of ownership, with the right to occupy a property and sell it to a buyer at any time. Upon the death of the owner, the property goes to the owner's designated heirs. Also known as fee absolute.</p>
        <p class="term">FHA</p>
        <p class="definition">See: Federal Housing Administration.</p>
        <p class="term">fifteen-year mortgage</p>
        <p class="definition">A loan with a term of 15 years. Although the monthly payment on a 15-year mortgage is higher than that of a 30-year mortgage, the amount of interest paid over the life of the loan is substantially less.</p>
        <p class="term">fixed-rate mortgage</p>
        <p class="definition">A mortgage whose rate remains constant throughout the life of the mortgage.</p>
        <p class="term">flood insurance</p>
        <p class="definition">The Federal Flood Disaster Protection Act of 1973 requires that federally-regulated lenders determine if real estate to be used to secure a loan is located in a Specially Flood Hazard Area (SFHA). If the property is located in a SFHA area, the borrower must obtain and maintain flood insurance on the property. Most insurance agents can assist in obtaining flood insurance.</p>
        <p class="term">FNMA</p>
        <p class="definition">See: Federal National Mortgage Association</p>
        <p class="term">Freddie Mac</p>
        <p class="definition">Nickname for Federal Home Loan Mortgage Corporation (FHLMC).</p>

        <p class="letter">G</p>
        <div class="line-letter">
        </div>

        <p class="term">gift</p>
        <p class="definition">This includes amounts from a relative or a grant from the borrower's employer, a municipality, non-profit religious organization, or non-profit community organization that does not have to be repaid.</p>
        <p class="term">Ginnie Mae</p>
        <p class="definition">Nickname for Government National Mortgage Association (GNMA).</p>
        <p class="term">good faith estimate</p>
        <p class="definition">Estimate on closing costs and monthly mortgage payments provided by the lender to the homebuyer within 3 days of applying for a loan.</p>
        <p class="term">Government National Mortgage Association (GNMA or Ginnie Mae)</p>
        <p class="definition">A government organization that participates in the secondary market, securitizing pools of FHA, VA, and RHS loans.
        <p class="term">graduated payment mortgage (GPM)</p>
        <p class="definition">A fixed-interest loan with lower payments in the early years than the later years. The amount of the payment gradually increases over a period of time and then levels off at a payment sufficient to pay off the loan over the remaining amortization period.</p>

        <p class="letter">H</p>
        <div class="line-letter">
        </div>

        <p class="term">hazard insurance</p>
        <p class="definition">A form of insurance that protects the insured property against physical damage such as fire and tornadoes. Mortgage lenders often require a borrower to maintain an amount of hazard insurance on the property that is equal at least to the amount of the mortgage loan.</p>
        <p class="term">home equity loan</p>
        <p class="definition">A mortgage on the borrower's principal residence, usually for the purpose of making home improvements or debt consolidation.</p>
        <p class="term">home inspection</p>
        <p class="definition">A thorough review of the physical aspects and condition of a home by a professional home inspector. This inspection should be completed prior to closing so that any repairs or changes can be completed before the home is sold.</p>
        <p class="term">homeowners insurance</p>
        <p class="definition">A form of insurance that protects the insured property against loss from theft, liability and most common disasters.</p>
        <p class="term">Housing and Urban Development. (HUD)</p>
        <p class="definition">The U.S. government agency that administers FHA, GNMA and other housing programs.</p>
        <p class="term">housing affordability index</p>
        <p class="definition">Indicates what proportion of homebuyers can afford to buy an average-priced home in specified areas. The most well known housing affordability index is published by the National Association of Realtors.</p>
        <p class="term">housing expenses-to-income ratio</p>
        <p class="definition">See: debt-to-income ratio.</p>
        <p class="term">HUD</p>
        <p class="definition">See: Housing and Urban Development.</p>

        <p class="letter">I</p>
        <div class="line-letter">
        </div>

        <p class="term">income approach to value</p>
        <p class="definition">A method used by real estate appraisers to predict a property's anticipated future income. Income property includes shopping centers, hotels, motels, restaurants, apartment buildings, office space and so forth.</p>
        <p class="term">income-to-debt ratio</p>
        <p class="definition">See: debt-to-income ratio.</p>
        <p class="term">index</p>
        <p class="definition">A published interest rate compiled from other indicators such as U.S. Treasury bills or the monthly average interest rate on loans closed by savings and loan organizations. Mortgage lenders use the index figure to establish rates on adjustable rate mortgages (ARMs).</p>
        <p class="term">insurance</p>
        <p class="definition">As a part of PITI, the amount of the monthly mortgage payment that does not include the principal, interest, and taxes. Also see: homeowners insurance.</p>
        <p class="term">interest</p>
        <p class="definition">The amount of the entire mortgage loan which does not include the principal. Also, as a part of PITI, the amount of the monthly mortgage payment which does not include the principal, taxes, and insurance.</p>
        <p class="term">interest cap</p>
        <p class="definition">See: cap.</p>
        <p class="term">interest rate</p>
        <p class="definition">The simple interest rate, stated as a percentage, charged by a lender on the principal amount of borrowed money. See also: Annual Percentage Rate.</p>

        <p class="letter">J</p>
        <div class="line-letter">
        </div>

        <p class="term">joint tenancy</p>
        <p class="definition">See: tenancy.</p>
        <p class="term">jumbo loan</p>
        <p class="definition">A nonconforming loan that is larger than the limits set by the Federal National Mortgage Association (FNMA) or Federal Home Loan Mortgage Corporation (FHLMC) guidelines.</p>

        <p class="letter">K</p>
        <div class="line-letter">
        </div>

        <p class="term">key lot</p>
        <p class="definition">Real estate deemed highly valuable because of its location.</p>

        <p class="letter">L</p>
        <div class="line-letter">
        </div>

        <p class="term">lien</p>
        <p class="definition">A claim against a property for the payment of a debt. A mortgage is a lien; other types of liens a property might have include a tax lien for overdue taxes or a mechanics lien for unpaid debt to a subcontractor.</p>
        <p class="term">life-of-loan cap</p>
        <p class="definition">See: cap.</p>
        <p class="term">liquidity</p>
        <p class="definition">The capability of an asset to be readily converted into cash.</p>
        <p class="term">loan discount</p>
        <p class="definition">See: points.</p>
        <p class="term">loan origination fee</p>
        <p class="definition">See: origination fee.</p>
        <p class="term">loan-to-value ratio (LTV)</p>
        <p class="definition">The relationship, expressed as a percentage, between the amount of the proposed loan and a property's appraised value. For example, a $75,000 loan on a property appraised at $100,000 is a 75% loan-to-value.</p>
        <p class="term">lock-in:</p>
        <p class="definition">The guarantee of a specific interest rate and/or points for a specific period of time. Some lenders will charge a fee for locking in an interest rate.</p>

        <p class="letter">M</p>
        <div class="line-letter">
        </div>

        <p class="term">maintenance costs</p>
        <p class="definition">The cost of the upkeep of the house. These costs may be minor in cost and nature (replacing washers in the faucets) or major in cost and nature (new heating system or a new roof) and can apply to either the interior or exterior of the house.</p>
        <p class="term">margin</p>
        <p class="definition">The amount a lender adds to the index of an adjustable rate mortgage to establish an adjusted interest rate. For example, a margin of 1.50 added to a 7 percent index establishes an adjusted interest rate of 8.50 percent.</p>
        <p class="term">market value</p>
        <p class="definition">The price a property can realistically sell for, based upon comparable selling prices of other properties in the same area.</p>
        <p class="term">modification</p>
        <p class="definition">A change in the terms of the mortgage note, such as a reduction in the interest rate or change in maturity date.</p>
        <p class="term">mortgage</p>
        <p class="definition">A legal instrument in which property serves as security for the repayment of a loan. In some states, a deed of trust is used rather than a mortgage.</p>
        <p class="term">mortgage banker</p>
        <p class="definition">A lender that originates, closes, services and sells mortgage loans to the secondary market.</p>
        <p class="term">mortgage broker</p>
        <p class="definition">An intermediary between a borrower and a lender. A broker's expertise is to help borrowers find financing that they might not otherwise find themselves.</p>
        <p class="term">mortgage insurance</p>
        <p class="definition">Money paid to insure the lender against loss due to foreclosure or loan default. Mortgage insurance is required on conventional loans with less than a 20 percent down payment. FHA mortgage insurance requires a payment of 1.5 percent of the loan amount to be paid at closing, as well as an annual fee of 0.5 percent of the loan amount added to each monthly payment.</p>
        <p class="term">mortgage interest</p>
        <p class="definition">Interest rate charge for borrowing the money for the mortgage. It is a used to calculate the interest payment on the mortgage each month.</p>
        <p class="term">mortgage term</p>
        <p class="term">The length of time that a mortgage is scheduled to exist. Example: a 30-year mortgage term is for 30 years.</p>
        <p class="term">mortgagee</p>
        <p class="definition">The lender.</p>
        <p class="term">mortgagor</p>
        <p class="definition">The borrower.</p>

        <p class="letter">N</p>
        <div class="line-letter">
        </div>

        <p class="term">negative amortization</p>
        <p class="definition">A situation in which a borrower is paying less interest than what is actually being charged for a mortgage loan. The unpaid interest is added to the loan's principal. The borrower may end up owing more than the original amount of the mortgage.</p>
        <p class="term">non-assumption clause</p>
        <p class="definition">In a mortgage contract, a statement that prohibits a new buyer from assuming a mortgage loan without the approval of the lender.</p>
        <p class="term">non-conforming loan</p>
        <p class="definition">A loan that does not conform to Federal National Mortgage Association (FNMA) or Federal Home Loan Mortgage Corporation (FHLMC) guidelines. Jumbo loans are nonconforming. See also: conforming loan.</p>
        <p class="term">note</p>
        <p class="definition">A signed document that acknowledges a debt and shows the borrower is obligated to pay it.</p>

        <p class="letter">O</p>
        <div class="line-letter">
        </div>

        <p class="term">open-end mortgage</p>
        <p class="definition">A mortgage allowing the borrower to receive advances of principal from the lender during the life of the loan. See also: closed-end mortgage.</p>
        <p class="term">origination fee</p>
        <p class="definition">The amount charged by a lender to originate and close a mortgage loan. Origination fees are usually expressed in points.</p>

        <p class="letter">P</p>
        <div class="line-letter">
        </div>

        <p class="term">payment cap</p>
        <p class="definition">See: cap.</p>
        <p class="term">P&I</p>
        <p class="definition">Abbreviation for principal and interest.</p>
        <p class="term">PITI</p>
        <p class="definition">Abbreviation for principal, interest, taxes and insurance.</p>
        <p class="term">points</p>
        <p class="definition">Charges levied by the lender based on the loan amount. Each point equals one percent of the loan amount; for example, two points on a $100,000 mortgage is $2,000. Discount points are used to buy down the interest rate. Points can also include a loan origination fee, which is usually one point.</p>
        <p class="term">pre-qualification</p>
        <p class="definition">Tentative establishment of a borrower's qualification for a mortgage loan amount of a specific range, based on the borrower's assets, debts, and income.</p>
        <p class="term">prime rate</p>
        <p class="definition">The interest rate commercial banks charge their most creditworthy customers.</p>
        <p class="term">principal</p>
        <p class="definition">The amount of the entire mortgage loan, not counting interest. Also, as a part of PITI, the amount of the monthly mortgage payment which does not include the interest, insurance, and taxes.</p>
        <p class="term">private mortgage insurance (PMI)</p>
        <p class="definition">See: mortgage insurance.</p>
        <p class="term">property appraisal</p>
        <p class="definition">See: appraisal.</p>
        <p class="term">property tax</p>
        <p class="definition">The amount which the state and/or locality assesses as a tax on a piece of property.</p>
        <p class="term">prorate</p>
        <p class="definition">To proportionally divide amounts owed by the buyer and the seller at closing.</p>

        <p class="letter">Q</p>
        <div class="line-letter">
        </div>

        <p class="term">qualification</p>
        <p class="definition">As determined by a lender, the ability of the borrower to repay a mortgage loan based on the borrower's credit history, employment history, assets, debts and income.</p>

        <p class="letter">R</p>
        <div class="line-letter">
        </div>

        <p class="term">rate cap</p>
        <p class="definition">See: cap.</p>
        <p class="term">RESPA</p>
        <p class="definition">Abbreviation for the Real Estate Settlement Procedures Act, which allows consumers to review settlement costs at application and once again prior to closing.</p>
        <p class="term">reverse annuity mortgage</p>
        <p class="definition">A type of mortgage loan in which the lender makes periodic payments to the borrower. The borrower's equity in the home is used as security for the loan.</p>
        <p class="term">RHCDS</p>
        <p class="definition">Rural Housing and Community Service</p>
        <p class="term">right of first refusal</p>
        <p class="definition">Purchasing a property under conditions and terms made by another buyer and accepted by the seller.</p>
        <p class="term">right of rescission</p>
        <p class="definition">When a borrower's principal dwelling is going to secure a loan, the borrower has three business days following signing of the loan documents to rescind or cancel the transaction. Any and all money paid by the borrower must be refunded upon rescission. The right to rescind does not apply to loans to purchase real estate or to refinance a loan under the same terms and conditions where no additional funds will be added to the existing loan.</p>
        <p class="term">rollover</p>
        <p class="definition">At the end of the construction loan period, the borrower's file is delivered to Bank One Mortgage Loan Servicing Dept. Prior to delivery, CLD contacts the borrower and obtains funds for the tax and insurance escrows, a final title policy and homeowner's policy. This process is called a rollover.</p>
        <p class="term">Rural Housing and Community Development Service</p>
        <p class="definition">A federal agency that administers mortgage loans for buyers in rural areas.</p>

        <p class="letter">S</p>
        <div class="line-letter">
        </div>

        <p class="term">second mortgage</p>
        <p class="definition">A loan that is junior to a primary or first mortgage and often has a higher interest rate and a shorter term.</p>
        <p class="term">secondary market</p>
        <p class="definition">A market comprising investors like GNMA, FHLMC and FNMA, which buy large numbers of mortgages from the primary lenders and sell them to other investors.</p>
        <p class="term">servicing</p>
        <p class="definition">The responsibility of collecting monthly mortgage payments and properly crediting them to the principal, taxes and insurance, as well as keeping the borrower informed of any changes in the status of the loan.</p>
        <p class="term">settlement costs</p>
        <p class="definition">See: closing costs.</p>
        <p class="term">survey</p>
        <p class="definition">A physical measurement of property done by a registered professional showing the dimensions and location of any buildings as well as easements, rights of way, roads, etc.</p>

        <p class="letter">T</p>
        <div class="line-letter">
        </div>

        <p class="term">tax deed</p>
        <p class="definition">A written document conveying title to property repossessed by the government due to default on tax payments.</p>
        <p class="term">tax savings</p>
        <p class="definition">The amount of money that the homeowner is not required to pay the government in taxes because he or she owns a home.</p>
        <p class="term">taxes</p>
        <p class="definition">As a part of PITI, the amount of the monthly mortgage payment which does not include the principal, interest, and insurance.</p>
        <p class="term">tenancy</p>
        <p class="definition">joint tenancy - equal ownership of property by two or more parties, each with the right of survivorship.</p>
        <p class="definition">tenancy by the entireties - ownership of property only between husband and wife in which neither can sell without the consent of the other and the property is owned by the survivor in the event of death of either party.</p>
        <p class="definition">tenancy in common - equal ownership of property by two or more parties without the right of survivorship.</p>
        <p class="definition">tenancy in severalty - ownership of property by one legal entity or a sole party.</p>
        <p class="definition">tenancy at will - a license to use or occupy a property at the will of the owner.</p>
        <p class="term">title</p>
        <p class="definition">A formal document establishing ownership of property.</p>
        <p class="term">title insurance</p>
        <p class="definition">A policy issued by a title insurance company insuring the purchaser against any errors in the title search. The cost of title insurance may be paid for by the buyer, the seller or both.</p>
        <p class="term">trust deed</p>
        <p class="definition">See: deed of trust.</p>
        <p class="term">Truth In Lending Act</p>
        <p class="definition">The Truth In Lending Act requires lenders to disclose the Annual Percentage Rate and other associated costs to homebuyers within three working days of the loan application.</p>

        <p class="letter">U</p>
        <div class="line-letter">
        </div>

        <p class="term">underwriter</p>
        <p class="definition">A professional who approves or denies a loan to a potential homebuyer based on the homebuyer's credit history, employment history, assets, debts and other factors such as loan guidelines.</p>
        <p class="term">Uniform Settlement Statement</p>
        <p class="definition">A standard document prescribed by the Real Estate Settlement Procedures Act containing information for closing which must be supplied to both buyer and seller.</p>
        <p class="term">utility costs</p>
        <p class="definition">Periodic housing costs for water, electricity, natural gas, heating oil, etc.</p>

        <p class="letter">V</p>
        <div class="line-letter">
        </div>

        <p class="term">VA loan</p>
        <p class="definition">See: Veterans Administration.</p>
        <p class="term">variable rate mortgage (VRM)</p>
        <p class="definition">See: adjustable rate mortgage.</p>
        <p class="term">Veterans Administration (VA)</p>
        <p class="term">The federal agency responsible for the VA loan guarantee program as well as other services for eligible veterans. In general, qualified veterans can apply for home loans with no down payment and a funding fee of 1 percent of the loan amount.</p>

        <p class="letter">W</p>
        <div class="line-letter">
        </div>

        <p class="term">walk-through</p>
        <p class="definition">An inspection of a property by the prospective buyer prior to closing on a mortgage.</p>
        <p class="term">warranty deed</p>
        <p class="definition">A document protecting a homebuyer against any and all claims to the property.</p>


        <p class="letter">X</p>
        <div class="line-letter">
        </div>

        <p class="term">No Entries in "X"</p>

        <p class="letter">Y</p>
        <div class="line-letter">
        </div>

        <p class="term">yield</p>
        <p class="definition">The rate of earnings from an investment.</p>

        <p class="letter">Z</p>
        <div class="line-letter">
        </div>

        <p class="term">zoning</p>
        <p class="definition">The ability of local governments to specify the use of private property in order to control development within designated areas of land. For example, some areas of a neighborhood may be designated only for residential use and others for commercial use such as stores, gas stations, etc.</p>

{% endblock %}
